body {
  color: #133c5e;
  .team-header {
    background-color: #e5dfcf;
  }

  .navbars {
    position: relative;
    left: 10%;
    top: 8%;
  }
  .notch {
    width: 150px;
    height: 150px;
    background: #000000;
    clip-path: polygon(
      (
        0 0%,
        10% 0,
        100% 0,
        100% 10%,
        100% 66%,
        61% 100%,
        0% 104%,
        0% 90%,
        0% 28%
      )
    );
  }
  .pic {
    width: 150px;
    height: 150px;
  }
  .profile-detail {
    line-height: 1.6vw;
    .fontHeading {
      letter-spacing: 0.25rem;
    }
  }

  .details {
    max-width: 400px;
  }

  @media (max-width: 1024px) {
    .leftTeam {
      padding-left: 2rem;
    }
  }
}
