body {
  div#root {
    height: 100vh;
    width: 100%;
  }

  .bgcolor {
    background-color: #133c5e;
  }

  .fontarab1 {
    font-family: "light";
    font-weight: 600;
    font-size: 13px;
    color: #133c5e;
  }

  .fontTextmute {
    font-size: 1.4vh;
    font-weight: 500;
    font-family: "light";
  }

  .fonts {
    font-size: 13px;
    font-weight: 500;
    font-family: "light";
    color: #133c5e;
  }

  .point {
    cursor: pointer;
  }

  .fontHeadingmute {
    font-weight: 700;
    font-size: 1.5vh;
    font-family: "bold";
  }

  .line-design {
    line-height: 85%;
  }

  .lines {
    line-height: 85%;
  }

  .left-inside {
    margin-left: 6rem;
  }

  @media (max-width: 325px) {
    .full-img {
      position: absolute;
      top: 0%;
      text-align: center;
    }

    .img-size {
      width: 297px;
      height: auto;
    }

    .left-inside {
      margin-left: 2rem;
      margin-top: 7rem;
    }

    .lines {
      line-height: 60%;
    }
  }

  @media (max-width: 450px) {
    .full-img {
      position: absolute;
      top: 0%;
      width: 100%;
    }

    .img-size {
      width: 100%;
      height: auto;
    }

    .left-inside {
      margin-left: 2rem;
      margin-top: 7rem;
    }

    .lines {
      line-height: 60%;
    }
  }

  @media (max-width: 768px) {
    // .full-img {
    //   position: absolute;
    //   top: 5%;
    // }

    // .lines {
    //   line-height: 1px;
    // }

    .col-lg-8.overflow-hidden {
      margin-top: -1em;
    }

    .fontHeading {
      line-height: 1;
    }

    .logoSlide {
      right: -5px;
      top: -5px;
    }

    img.logoSlide {
      height: 2em;
      width: auto;
    }

    .logoDivTop {
      display: block !important;
      margin-left: 5px;
      margin-bottom: 10px;
    }

    // img.d-block.moreslider {
    //   height: auto !important;
    // }

    // .left-inside {
    //   margin-left: 2rem;
    //   margin-top: 50%;
    // }
  }
}